.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont>*{
  margin: 1vh;
}
.cont span:nth-child(1){
  margin-top: -1px;
}
.cont img{
  width: 50vh;
  height: 100%;
}

.cont span {
  position: absolute;
  margin-top: 217px;
  font-size: 38px;
  font-family: fantasy;
  -webkit-text-stroke: 2px black;
  color: rgb(206, 231, 136);
}